#**/*.xlsx
#**/*.xls
#**/*.ipynb
#**/*.pyc


# 忽略编译缓存
*.pyc
__pycache__/

# 忽略临时文件
*.xlsx
*.xls
*.ipynb
*.env
*.log
*.png
*.jpg
*.jpeg

# 忽略个别文件
*.yaml
logger.py
logger_overall.py


# 忽略文件夹
rag/
temp_files/